{% extends "cartwear/catalogue/reviews/review_list.html" %}
{% load currency_filters %}
{% load history_tags %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
{% load reviews_tags %}


{% block content %}
    <article>
        <div class="row-fluid">
            <div class="span6">
                {% include "catalogue/partials/gallery.html" %}
            </div>
            <div class='span6'>
                {% include "catalogue/partials/review_totals.html" %}
                {% if reviews %}
                    <h4>{% trans "Sort by:" %}</h4>
                    <form action="." method="get" class="form-inline">
                        <select name="sort_by">
                            <option value="score">{% trans "Score" %}</option>
                            <option value="recency">{% trans "Recency" %}</option>
                        </select>
                        <input type="submit" class="btn" value="{% trans "Go" %}" />
                    </form>

                    {% for review in reviews %}
                        {% include 'catalogue/partials/review.html' %}
                    {% endfor %}
                    {% include 'partials/pagination.html' %}

                {% else %}
                    <p>{% trans "This product does not have any reviews yet." %}</p>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock %}