{% extends "cartwear/catalogue/reviews/review_detail.html" %}
{% load currency_filters %}
{% load history_tags %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <article>
        <div class="row-fluid">
            <div class="span6">
                {% include "catalogue/partials/gallery.html" %}
            </div>
            <div class='span6'>
                {% include "catalogue/partials/review_totals.html" %}
                {% include 'catalogue/partials/review.html' %}
            </div>
        </div>
    </article>
{% endblock %}