{% extends "cartwear/checkout/checkout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}

{% block shipping_address %}
    <div class="span6">
        <h3>{% trans "Shipping" %}</h3>
        <div class="well well-info" data-behaviours="match-height">
            {% if shipping_address %}
                <h4>{% trans "Address" %}</h4>
                <p>
                    {% for field in shipping_address.active_address_fields %}
                        {{ field }}<br/>
                    {% endfor %}
                </p>
                {% if shipping_address.phone_number %}
                    <p>{% trans "Contact number" %}: {{ shipping_address.phone_number }}</p>
                {% endif %}

                {% if shipping_address.notes %}
                    <p>{% trans "Shipping notes" %}</p>
                    <p>{{ shipping_address.notes|linebreaks }}</p>
                {% endif %}

                <h4>{% trans "Shipping method" %}</h4>
                <p>{{ shipping_method.name }}
                    {% if shipping_method.description %}
                        - {{ shipping_method.description }}
                    {% endif %}
                </p>
            </dl>

            {% block shipping_address_actions %}
                <div class="alert-actions">
                    <a href="{% url 'checkout:shipping-address' %}" class="btn">{% trans "Change shipping address" %}</a>
                </div>
            {% endblock %}

        {% else %}
            {% trans "No shipping is required for this order" %}
        {% endif %}
    </div>
</div>
{% endblock shipping_address %}

{% block payment_method %}
    <div class="span6">
        <h3>{% trans "Payment" %}</h3>
        <div class="well well-success" data-behaviours="match-height">
            <p>{% trans "Payment details to go here" %}</p>
            <div class="alert-actions">
                <a href="{% url 'checkout:payment-details' %}" class="btn">{% trans "Change payment details" %}</a>
            </div>
        </div>    
    </div>
{% endblock payment_method %}

{% block order_contents %}
    <h3>{% trans "Order contents" %}</h3>
    <div class="basket-title hidden-phone">
        <div class="row-fluid">
            <h4 class="span8">{% trans "Items in basket" %}</h4>
            <h4 class="span2 align-center">{% trans "Quantity" %}</h4>
            <h4 class="span2">{% trans "Price" %}</h4>
        </div>
    </div>
    {% for line in basket.all_lines %}
        {% purchase_info_for_product request line.product as session %}
        <div class="basket-items">
            <div class="row-fluid">
                <div class="span1">
                    <div class="image_container">
                        {% with image=line.product.primary_image %}
                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                            <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </div>
                </div>
                <div class="span7">
                    <h4>{{ session.stockrecord.partner.name }}</h4>
                    <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                </div>
                <div class="span2 align-center">
                    {{ line.quantity }}
                </div>
                <div class="span2">
                    <h3 class="price_color">{{ line.line_price_incl_tax|currency:basket.currency }}</h3>
                </div>        
            </div>
        </div>
    {% endfor %}

    <div class="row-fluid" style="margin-top:30px;">
        <div class="offset6 span6">
            <div class="well">
                <h3>{% trans "Totals" %}</h3>
                {% include 'basket/partials/basket_totals.html' %}

                {% block order_contents_actions %}
                    <hr/>
                    <div class="row-fluid">
                        <a href="{% url 'basket:summary' %}" class="btn btn-info pull-right">{% trans "Edit order contents" %}</a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock order_contents %}
