{% extends "cartwear/checkout/shipping_address.html" %}
{% load currency_filters %}
{% load i18n %}

{% block content %}

<div class="page-header">
    <h1>{% trans "Who are you?" %}</h1>
</div>

<form action="." method="post" class="form-stacked">
    <div class="well">
        <div class="row-fluid">
            <div class="span6">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% include 'partials/form_field.html' with field=form.username %}
                
                <div class="control-group">
                    {{ form.options.errors }}
                    <div class="controls">
                        <label class="radio">
                             <input type="radio" id="id_options_1" name="options" value="existing" {% if form.password.errors %}checked="checked"{% endif %} />
                             {% trans "I have an account and my password is" %}:
                        </label>
                    </div>
                </div>
                
                <div class="control-group {% for error in form.password.errors %}error{% endfor %}">
                    <div class="controls">
                        {{ form.password }}
                        <small><a href="{% url 'password-reset' %}">{% trans "Get a password reminder" %}</a></small>
                        {% for error in form.password.errors %}
                            <span class="help-block">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                </div>  
                
                <div class="control-group">
                    <div class="controls">
                        <label class="radio">
                             <input type="radio" id="id_options_0" name="options" value="anonymous" {% if not form.password.errors %}checked="checked"{% endif %} />
                             {% trans "I don't want to create an account" %}:
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-large btn-primary pull-right" data-loading-text="{% trans 'Submitting...' %}">{% trans "Continue" %}</button>
</form>

{% endblock content %}
