{% extends 'cartwear/checkout/payment_details.html' %}
{% load i18n %}

{% block payment_details %}
    <div class="page-header">
        <h1>{% trans "Enter payment details" %}</h1>
    </div>

    {% block payment_details_content %}
    <form action="{% url 'checkout:preview' %}" class="payment-details form-horizontal" method="post">
        {% csrf_token %}

        <div class="well well-info">
            <h3>{% trans "Bankcard" %}</h3>
            {% include 'partials/form_fields.html' with form=bankcard_form %}
            <div class="alert alert-warning">
                <h4>{% trans "Demo site help" %}</h4>
                <p>{% trans "You can use a magic card number of 1000010000000007 together with an CVV number." %}</p>
            </div>
        </div>

        <div class="well well-info">
            <h3>{% trans "Billing address" %}</h3>
            {{ billing_address_form.non_field_errors }}

            {% if basket.is_shipping_required %}
                <p>
                {{ billing_address_form.same_as_shipping.0 }}
                {{ billing_address_form.same_as_shipping.1 }}
                </p>
                <div id="billing_address_form" style="display:none">
            {% else %}
                <div style="">
                    {{ billing_address_form.same_as_shipping }}
                </div>
                <div id="billing_address_form">
            {% endif %}
                {% include 'partials/form_field.html' with field=billing_address_form.line1 %}
                {% include 'partials/form_field.html' with field=billing_address_form.line2 %}
                {% include 'partials/form_field.html' with field=billing_address_form.line3 %}
                {% include 'partials/form_field.html' with field=billing_address_form.line4 %}
                {% include 'partials/form_field.html' with field=billing_address_form.state %}
                {% include 'partials/form_field.html' with field=billing_address_form.postcode %}
                {% include 'partials/form_field.html' with field=billing_address_form.country %}
            </div>
        </div>

        <button type="submit" class="pull-right btn btn-large btn-primary" data-loading-text="{% trans 'Submitting...' %}">{% trans "Continue" %}</button>
    </form>
    {% endblock %}
{% endblock payment_details %}

{% block onbodyload %}
    {# Toggle visibility of the billing address form #}
    $("input[name='same_as_shipping']").change(function(){
        $("#billing_address_form").toggle();
    });
{% endblock %}
