{% extends 'cartwear/checkout/preview.html' %}
{% load currency_filters %}
{% load i18n %}

{% block payment_method %}
    <div class="span6">
    <h3>{% trans "Payment" %}</h3>
    <div class="well well-success" data-behaviours="match-height">

        <h4>Bankcard</h4>
        <p>{% blocktrans with amount=order_total.incl_tax|currency %}
            {{ amount }} will be debited from your bankcard:
        {% endblocktrans %}</p>
        {% with bankcard=bankcard_form.bankcard %}
            <p>
            {% trans "Card type" %}: {{ bankcard.card_type }} <br/>
            {% trans "Card number" %}: {{ bankcard.obfuscated_number }} <br/>
            {% trans "Expiry month" %}: {{ bankcard.expiry_month }}</p>
        {% endwith %}

        <h4>Billing address</h4>
        <p>
        {% for field in billing_address.active_address_fields %}
            {{ field }}<br/>
        {% endfor %}
            </p>
            {% if billing_address.phone_number %}
                <p>{% trans "Contact number" %}: {{ billing_address.phone_number }}</p>
        {% endif %}

        <div class="alert-actions">
            <a href="{% url 'checkout:payment-details' %}" class="btn">{% trans "Change payment details" %}</a>
        </div>
    </div>
</div>
{% endblock %}


{% block place_order %}
    <hr/>
    <form method="post" action="{% url 'checkout:preview' %}" id="place-order-form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
        <div style="display:none">
            {% block hiddenforms %}
                {{ bankcard_form.as_p }}
                {{ billing_address_form.as_p }}
            {% endblock %}
        </div>

        <button id='place-order' type="submit" class="pull-right btn btn-primary btn-large" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
    </form>
{% endblock place_order %}
