{% extends "cartwear/checkout/shipping_methods.html" %}
{% load currency_filters %}
{% load i18n %}

{% block shipping_method %}
    <div class="page-header">
        <h1>{% trans "Choose a shipping method" %}</h1>
    </div>
    <div class="basket-title hidden-phone">
        <div class="row-fluid">
            <h4 class="span9">{% trans "Method" %}</h4>
            <h4 class="span3">{% trans "Cost" %}</h4>
        </div>
    </div>

    {% for method in methods %}
        <div class="basket-items">
            <div class="row-fluid">
                <div class="span9">
                    <h4>{{ method.name }}</h4>
                    {% if method.description %}
                        <p>{{ method.description|safe }}</p>
                    {% endif %}
                    {% if method.is_discounted %}
                        <small>
                            {% with discount=method.get_discount %}
                                {% blocktrans with amount=discount.discount|currency name=discount.name %}
                                    This includes a discount of {{ amount }} as
                                    your basket qualifies for the '{{ name }}' offer.
                                {% endblocktrans %}
                            {% endwith %}
                        </small>
                    {% endif %}
                </div>
                <div class="span1">
                    {{ method.charge_incl_tax|currency }}
                </div>
                <div class="span2">
                    <form method="post" action="{% url 'checkout:shipping-method' %}">
                        {% csrf_token %}
                        <input type="hidden" name="method_code" value="{{ method.code }}" class="btn" />
                        <button type="submit" class="btn btn-primary pull-right" data-loading-text="{% trans 'Submitting...' %}">{% trans "Select option" %}</button>
                    </form>
                </div>    
            </div>
        </div>
    {% endfor %}
{% endblock shipping_method %}
