{% extends "cartwear/checkout/user_address_form.html" %}
{% load i18n %}

{% block shipping_address %}
<div class="page-header">
    <h1>{% trans "Enter an address for your addressbook" %}</h1>
</div>

<form action="{{ form_url }}" method="post" class="form-stacked">
    {% csrf_token %}
    <div class="well">
        <div class="row-fluid">
            <div class="span6">
                {% include "partials/form_fields.html" with form=form %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-large btn-primary pull-right" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
    {% trans "or" %} <a href="{% url 'checkout:shipping-address' %}">{% trans "cancel" %}</a>.
</form>
{% endblock shipping_address %}
