{% extends "cartwear/dashboard/orders/order_detail.html" %}
{% load i18n %}

{% block line_actions %}
    <div class="well">
        <h3><i class="icon-refresh"></i> {% trans "With selected lines" %}:</h3>

        <div class="control-group">
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="line_action" value="create_shipping_event" /> {% trans "Create shipping event" %}
                </label>
                <label class="radio inline">
                    <select name="shipping_event_type">
                        <option value=""> -- {% trans "choose event type" %} -- </option>
                        {% for event_type in shipping_event_types %}
                            <option value="{{ event_type.code }}">{{ event_type.name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="radio inline">
                    {% trans "with reference" %} <input type="text" name="reference" value="" />
                </label>
            </div>
        </div>
        <input type="submit" value="{% trans "Go!" %}" class="btn btn-primary" />
    </div>
{% endblock line_actions %}
