{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load sorting_tags %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}

{% block title %}
    {% trans "Products" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Products" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header action">
        <h1>{% trans "Products" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% block create_product %}
<!--
        {% comment %}
            Bulk Upload is a basic feature,
            which can be used but not necessary for all the marketplaces.
            This usage changes from one system to another system.
            So, this has been disabled.
        {% endcomment %}

        <div class="table-header">
            <h3><i class="icon-upload-alt icon-large"></i> {% trans "Bulk Upload" %}</h3>
        </div>
        <div class="well">
            <form action="{% url 'dashboard:catalogue-product-bulk-upload' %}" method="post" class="form-inline" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "dashboard/partials/form_fields_inline.html" with form=productclass_bulk_upload %}
                <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Uploading...' %}"><i class="icon-upload"></i> {% trans "Upload" %}</button>
            </form>
            <form action="{% url 'dashboard:catalogue-product-bulk-image-upload' %}" method="post" class="form-inline" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "dashboard/partials/form_fields_inline.html" with form=productclass_bulk_image_upload %}
                <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Uploading...' %}"><i class="icon-upload"></i> {% trans "Upload" %}</button>
            </form>
        </div> -->

        <div class="table-header">
            <h3><i class="icon-sitemap icon-large"></i> {% trans "Create new product" %}</h3>
        </div>
        <div class="well">
            <form action="{% url 'dashboard:catalogue-product-create' %}" method="get" class="form-inline">
                {% include "dashboard/partials/form_fields_inline.html" with form=productclass_form %}
                <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Submitting...' %}"><i class="icon-plus"></i> {% trans "New Product" %}</button>
            </form>
        </div>
    {% endblock %}

    {% block search_products %}
        <div class="table-header">
            <h3><i class="icon-search icon-large"></i>{% trans "Search Products" %}</h3>
        </div>
        <div class="well">
            <form action="." method="get" class="form-inline">
                {% comment %}
                    Add the current query string to the search form so that the
                    sort order is not reset when searching.
                {% endcomment %}
                {% for name, value in request.GET.items %}
                    {% if name not in form.fields %}
                        <input type="hidden" name="{{ name }}" value="{{ value }}"/>
                    {% endif %}
                {% endfor %}

                {% include "dashboard/partials/form_fields_inline.html" with form=form %}
                <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
            </form>
        </div>
    {% endblock %}

    {% if products %}
        {% block product_list %}
            <form action="." method="post">
                {% csrf_token %}
                {% render_table products %}
            </form>
        {% endblock product_list %}
    {% else %}
        <p>{% trans "No products found." %}</p>
    {% endif %}

{% endblock dashboard_content %}
