{% extends "cartwear/customer/baseaccountpage.html" %}

{% load i18n %}

{% block column_left %}
    <div class="aside-options">
        <h4>{% trans "Your Account" %}</h4>
        <ul>
            {% block standard_tabs %}
                <li{% if active_tab == 'profile' %} class="active"{% endif %}>
                    <a href="{% url 'customer:profile-view' %}">
                        {% trans "Profile" %}<i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li{% if active_tab == 'orders' %} class="active"{% endif %}>
                    <a href="{% url 'customer:order-list' %}">
                        {% trans "Order History" %}<i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li{% if active_tab == 'addresses' %} class="active"{% endif %}>
                    <a href="{% url 'customer:address-list' %}">
                        {% trans "Address Book" %}<i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li{% if active_tab == 'emails' %} class="active"{% endif %}>
                    <a href="{% url 'customer:email-list' %}">
                        {% trans "Email History" %}<i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li{% if active_tab == 'alerts' %} class="active"{% endif %}>
                    <a href="{% url 'customer:alerts-list' %}">
                        {% trans "Product Alerts" %}<i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li{% if active_tab == 'notifications' %} class="active"{% endif %}>
                    <a href="{% url 'customer:notifications-inbox' %}">
                        {% trans "Notifications" %}<i class="icon-arrow-right"></i>
                    </a>
                </li>
                <li{% if active_tab == 'wishlists' %} class="active"{% endif %}>
                    <a href="{% url 'customer:wishlists-list' %}">
                        {% trans "Wish Lists" %}<i class="icon-arrow-right"></i>
                    </a>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}