{% extends "cartwear/customer/login_registration.html" %}
{% load currency_filters %}
{% load i18n %}

{% block content %}

<div class="row-fluid">
    <div class="span6 login_form">
        <form id="login_form" action="{{ request.get_full_path }}" method="post" class="form-stacked" >
            <h3>{% trans 'Log In' %}</h3>
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=login_form %}
            <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
            <button name="login_submit" type="submit" value="Log In" class="btn btn-primary" data-loading-text="{% trans 'Logging in...' %}">{% trans 'Log In' %}</button>
        </form>
    </div>
    <div class="span6 register_form">
        <form id="register_form" action="{{ request.get_full_path }}" method="post" class="form-stacked">
            <h3>{% trans 'Register' %}</h3>
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=registration_form %}
            <button name="registration_submit" type="submit" value="Register" class="btn btn-primary" data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>
        </form>
    </div>
</div>    

{% endblock content %}
