{% extends "cartwear/catalogue/browse.html" %}

{% load currency_filters %}
{% load basket_tags %}
{% load promotion_tags %}
{% load product_tags %}
{% load category_tags %}
{% load i18n %}

{% block header %}
<div class="category-title">
    {% if category.image %}
        <img src="{{ category.image.url }}" alt="{{ summary }}" class="hidden-phone" />
    {% endif %}
    <div>
        <h1>{{ summary }}</h1>
        {% if category.description %}
        <p>{{ category.description|safe|truncatechars:250 }}</p>
        {% endif %} 
    </div>
</div>
{% endblock  %}

{% block column_left %}
    <div class="aside-options">
        {% category_tree as tree_categories %}
        <h4>{% trans "Browse" %}</h4>
        {% if tree_categories %}
        <ul>
            {% for tree_category,info in tree_categories %}
                {% if info.has_children %}
                    <li>
                        <a href="{{ tree_category.get_absolute_url }}">
                            {{ tree_category.name }} 
                            <i class="icon-arrow-down"></i>
                        </a>
                        <ul>
                 {% else %}
                    <li>
                        <a href="{{ tree_category.get_absolute_url }}">
                            {{ tree_category.name }}
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                {% endif %}
                {% for close in info.num_to_close %}
                    </ul></li>
                {% endfor %}
            {% endfor %}

        </ul>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

{% if products %}
<section class="product-list">
    <ol class="row-fluid">
        {% for product in products %}
            <li class="span3 {% if forloop.counter0|divisibleby:"4" %}no-margin{% endif %}">{% render_product product %}</li>
        {% endfor %}
    </ol>
    {% include "partials/pagination.html" %}
</section>
{% else %}
    <p class="nonefound">{% trans "No products found." %}</p>
{% endif %}

{% endblock content %}
