{% extends "cartwear/catalogue/detail.html" %}

{% load compress %}
{% load currency_filters %}
{% load history_tags %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load thumbnail %}
{% load basket_tags %}
{% load purchase_info_tags %}
{% load i18n %}

{% purchase_info_for_product request product as session %}

{% block body_class %}product-page{% endblock body_class %}

{% block content %}
<article><!-- Start of product page -->

    {% if user.is_authenticated and user.is_staff %}
        <div class="row-fluid">
            <div class="well">
                <a href="{% url 'dashboard:catalogue-product' product.id %}"><button class="btn btn-success btn-full" data-loading-text="{% trans 'Submitting...' %}">{% trans "Edit this product" %}</button></a>
            </div>
        </div>
    {% endif %}

    <div class="row-fluid" style="position:relative">

        {% block product_gallery %}
        <div class="span6">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        <div class="span6">
            {% block product_main %}
                <div class="product-highlight">
                    <h4>{{ session.stockrecord.partner.name }}</h4>
                    <h1>{{ product.get_title }}</h1>

                    {% block product_stock_record %}
                        {% if not product.is_group %}
                        <div class="row-fluid">
                            <h2 class="price_color">{% include "catalogue/partials/stock_record.html" %}</h2>
                            <p class="free-delivery"><i class="icon-truck"></i> <span><span>{% trans "Free shipping" %}</span><br/> <strong>{% trans "For all orders over $300" %}</strong></span></p>
                        </div>
                        {% endif %}
                    {% endblock %}

                    {% block product_description %}
                        {% if product.description %}
                        <p>{{ product.description|safe }}</p>
                        {% endif %}
                    {% endblock %}

                    {% if not product.is_group %}
                        {% block product_basket_form %}
                        <div class="well">
                            {% include "catalogue/partials/add_to_basket_form.html" %}
                        </div>
                        {% endblock %}
                    {% endif %}

                {% endblock %}
            </div>

            {% if product.is_group %}
                <h3>{% trans "Please select your varieties" %}</h3>

                {% for child in product.children.all %}
                    {% purchase_info_for_product request product as child_session %}

                    <div class="child-product well">

                        {% with image=child.primary_image %}
                            {% thumbnail image.original "70x70" upscale=False as thumb %}
                                <div class="image_container">
                                    <img src="{{ thumb.url }}" alt="{{ child.get_title }}" data-description="{% if image.caption %}{{ image.caption }}{% endif %}">
                                </div>
                            {% endthumbnail %}
                        {% endwith %}

                        <div>
                            <h4>{{ child.attribute_summary }}</h4>

                            {% include "catalogue/partials/child_stock_record.html" with product=child %}

                            <div class="child-form">
                                {% if child_session.availability.is_available_to_buy %}
                                    {% basket_form request child as basket_form %}
                                    <form action="{% url 'basket:add' pk=child.pk %}" method="post" class="form-inline">
                                        {% csrf_token %}
                                        {% include "partials/form_fields_inline.html" with form=basket_form %}
                                        <button type="submit" class="btn btn-primary" value="Add to basket" data-loading-text="{% trans 'Adding...' %}">{% trans "Add to bag" %}</button>
                                    </form>
                                {% else %}
                                    <p>{% trans "You can get an email alert when this product is back in stock." %}</p>
                                    {% include "catalogue/partials/alerts_form.html" with product=child %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

            {% block product_info %}
            <h3>{% trans "Product Information" %}</h3>
            <table class="table table-striped table-condensed">
                {% if product.upc %}
                <tr>
                    <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>{% trans "Product class" %}</th><td>{{ product.get_product_class.name }}</td>
                </tr>
                {% if session.availability.is_available_to_buy %}
                <tr>
                    <th>{% trans "Retail Price" %}</th><td>{{ session.price.price_retail|currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Availability" %}</th>
                    <td>{{ session.availability.message }}</td>
                </tr>
                {% endif %}
                {% for av in product.attribute_values.all %}
                <tr>
                    <th>{{ av.attribute.name }}</th>
                    <td>{{ av.value }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th>{% trans "Num reviews" %}</th>
                    <td>{{ reviews.count|default:0 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            {% endblock %}

            {% block product_review %}
            <section>
                {% include "catalogue/partials/review_totals.html" %}
                {% if not reviews %}
                    <p class="well">
                        {% trans "This product does not have any reviews yet" %} -
                        <a href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">{% trans "be the first to write one" %}</a>.
                    </p>
                {% else %}
                    {% for review in reviews|slice:":3" %}
                        {% include 'catalogue/partials/review.html' %}
                    {% endfor %}
                {% endif %}
            </section>
            {% endblock product_review %}

        </div><!-- /span6 -->
    </div><!-- /row-fluid -->

    {% with products=product.recommended_products.all|slice:":6" %}
        {% if products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ol class="row-fluid">
                {% for product in products %}
                <li class="span2 {% if forloop.counter0|divisibleby:"6" %}no-margin{% endif %}">{% render_product product %}</li>
                {% endfor %}
            </ol>
        {% endif %}
    {% endwith %}

    <div class="hr"><i class="icon-noun_project_62"></i></div>

    {% recently_viewed_products %}

</article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
{% compress js %}
    {% include "partials/extrascripts.html" %}
{% endcompress %}
{% endblock %}
