{% extends 'cartwear/basket/partials/basket_content.html' %}
{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load staticfiles %}
{% load purchase_info_tags %}

{% block basket_form_headers %}
<div class="basket-title hidden-phone">
    <div class="row-fluid">
        <h4 class="span6">{% trans "Items to buy now" %}</h4>
        <h4 class="span4">{% trans "Quantity" %}</h4>
        <h4 class="span2">{% trans "Price" %}</h4>
    </div>
</div>
{% endblock %}

{% block basket_form_main %}
    <form action="." method="post" class="basket_summary" id="basket_formset">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            {% purchase_info_for_product request form.instance.product as session %}
        <div class="basket-items">
            <div class="row-fluid">
                <div class="span1">
                    {{ form.id }}
                    <div class="image_container">
                        {% with image=form.instance.product.primary_image %}
                        {% thumbnail image.original "100x100" upscale=False as thumb %}
                        <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                        {% endthumbnail %}
                        {% endwith %}
                    </div>
                </div>
                <div class="span5">
                    <h4>{{ session.stockrecord.partner.name }}</h4>
                    <h3><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h3>
                </div>
                <div class="span4">
                    <div class="checkout-quantity control-group {% if form.errors %}error{% endif %}">
                        {{ form.quantity }}
                        <button class="btn" type="submit" data-loading-text="{% trans 'Updating...' %}">{% trans "Update" %}</button>
                        <small>
                        <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline">{% trans "Remove" %}</a>
                        {% if request.user.is_authenticated %}
                        | <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="save" class="inline">{% trans "Save for later" %}</a>
                        {% endif %}
                        </small>
                        <div style="display:none">
                            {{ form.save_for_later }}
                            {{ form.DELETE }}
                        </div>
                        {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                            <span class="help-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class="span2">
                    <h3 class="price_color">{{ form.instance.unit_price_incl_tax|currency }}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
{% endblock %}

{% block vouchers %}
<div class="span6">
    <div class="well" data-behaviours="match-height">
        <h3>{% trans "Voucher/promo code" %}</h3>
        <p id="voucher_form_link"><a href="#voucher" class="btn btn-full">{% trans "I have a voucher code..." %}</a></p>

        <div id="voucher_form_container" style="display:none">
            <form action="{% url 'basket:vouchers-add' %}" method="post" class="form-stacked">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=voucher_form %}
                <button type="submit" class="btn btn-info" data-loading-text="{% trans 'Adding...' %}">{% trans "Add voucher" %}</button>
                or <a href="#" id="voucher_form_cancel">{% trans "cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock vouchers %}

{% block baskettotals %}
<div class="span6">
    <div class="well" data-behaviours="match-height">
        <h3>{% trans "Totals" %}</h3>
        {% include 'basket/partials/basket_totals.html' with editable=1 %}
    </div>
</div>
{% endblock baskettotals %}

{% block formactions %}
<hr/>
<div class="row-fluid">
    <div class="checkout-proceed">
        <div>
            <a href="https://www.verisign.com.au" target="_blank" title="https://www.verisign.com.au"><i class="verisign"></i></a>
            <span>{% trans "We accept" %} <br><i class="credit-cards"></i></span>
            <a href="{% url 'checkout:index' %}" class="btn btn-large btn-primary">{% trans "Proceed to checkout" %}</a>
        </div>
        <strong>{% trans "or" %}</strong>
        <a href="{% url 'paypal-redirect' %}"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></a>
    </div>
</div>
<div class="alert alert-warning">
    <h4>{% trans "Demo site help" %}</h4>
    <p>{% trans "You can authenticate with PayPal using:" %}<br/>
        {% trans "Email:" %} <strong>david._1332854868_per@gmail.com</strong><br/>
        {% trans "Password:" %} <strong>332855006</strong>
    </p>
</div>
{% endblock formactions %}

{% block savedbasket %}
    {% if request.user.is_authenticated and saved_formset %}
        <div class="well">
            <div class="sub-header">
                <h3>{% trans "To buy later" %}</h3>
            </div>

            <div class="row-fluid basket-title hidden-phone">
                <h4 class="span8">{% trans "Items" %}</h4>
                <h4 class="span2">{% trans "Price" %}</h4>
                <div class="span2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    <div class="row-fluid basket-items">
                        <div class="span1">
                            {{ form.id }}
                            <div class="image_container">
                                {% with image=form.instance.product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{% static thumb.url %}" alt="{{ form.instance.product.get_title }}"></a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="span7">
                            <h4><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h4>
                            <p class="availability {{ session.availability_code }}">{{ session.availability.message }}</p>
                            <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                            <div style="display:none">
                                {{ form.move_to_basket }}
                                {{ form.DELETE }}
                            </div>
                        </div>
                        <div class="span2"><h3 class="price_color">{{ form.instance.unit_price_incl_tax|currency }}</h3></div>
                        <div class="span2"><a href="#" data-id="{{ forloop.counter0 }}" class="btn btn-full" data-behaviours="move">{% trans "Move to basket" %}</a></div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endblock %}
