{% extends "cartwear/base.html" %}
{% load i18n compress %}
{% load staticfiles %}

{% block mainstyles %}
    {% block styles %}
        {% compress css %}
            {% if use_less %}
                <link rel="stylesheet" type="text/less" href="{% static "demo/less/styles.less" %}" />
                <link rel="stylesheet" type="text/less" href="{% static "demo/less/responsive.less" %}" />
            {% else %}
                <link rel="stylesheet" type="text/css" href="{% static "demo/css/styles.css" %}" />
                <link rel="stylesheet" type="text/css" href="{% static "demo/css/responsive.css" %}" />
            {% endif %}
        {% endcompress %}
    {% endblock %}
{% endblock %}


{% block scripts %}
{% compress js %}
<!-- Twitter Bootstrap -->
<script type="text/javascript" src="{% static "cartwear/js/bootstrap/bootstrap.min.js" %}"></script>
<!-- Cartwear -->
<script src="{% static "cartwear/js/cartwear/ui.js" %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}
{% endblock scripts %}
