{% extends "cartwear/offer/detail.html" %}


{% load i18n %}
{% load product_tags %}


{% block content %}

    {% if not offer.is_available %}
        <div class="alert alert-error">{% trans " This offer is no longer available." %}</div>
    {% endif %}

    {% if upsell_message %}
    <div class="well">
        {% if offer.description %}
            <p>{{ offer.description|safe }}</p>
            <hr/>
        {% endif %}
        <h3><i class="icon-exclamation-sign icon-large"></i> {% trans "What you need to do" %}</h3>
        <p>{{ upsell_message }}</p>
    </div>
    {% endif %}

    {% if products %}
        <section class="product-list">
                {% include "partials/pagination.html" %}
                <ol class="row-fluid">
                    {% for product in products %}
                    <li class="span2 {% if forloop.counter0|divisibleby:"6" %}no-margin{% endif %}">{% render_product product %}</li>
                    {% endfor %}
                </ol>
                {% include "partials/pagination.html" %}
        </section>
    {% else %}
    <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
{% endblock content %}
