{% extends "cartwear/offer/list.html" %}


{% load i18n %}
{% load product_tags %}

{% block body_class %}offer-page{% endblock body_class %}

{% block content %}
    {% if not offers %}
        <p>{% trans "There are no site offers at the moment." %}</p>
    {% else %}
        {% for offer in offers %}
            <h3>{{ offer.name }}</h3>
            {% if offer.description %}
                <p>{{ offer.description|safe }}</p>
            {% endif %}
            {% if offer.has_products %}
                <div class="product-carousel offer-carousel">
                    <div class="well">
                        <p>{{ promotion.description|safe }}</p>
                        <div class="flexslider">
                            <ul class="slides">
                                {% for product in offer.products|slice:":20" %}
                                <li>{% render_product product %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <p>
                    <a class="btn" href="{% url 'offer:detail' offer.slug %}">
                        {% trans "Browse products in offer" %}
                    </a>
                </p>
            {% endif %}
            <hr/>
        {% endfor %}
    {% endif %}
{% endblock content %}